# https://github.com/goharbor/harbor-helm/blob/v1.18.0/values.yaml

externalURL: https://harbor.okwilkins.dev
expose:
  type: clusterIP
  tls:
    enabled: false
existingSecretAdminPassword: harbor-admin-credentials
existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD
database:
  type: external
  external:
    host: cnpg-harbor-prod-rw.harbor.svc.cluster.local
    port: 5432
    username: harbor
    coreDatabase: harbor_core
    existingSecret: cnpg-harbor-prod-app-user-credentials
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
