apiVersion: v1
kind: Service
metadata:
  name: coredns-lan
  namespace: coredns-lan
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9153"
    external-dns.alpha.kubernetes.io/hostname: argocd.okwilkins.dev
  labels:
    k8s-app: coredns-lan
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: CoreDNS
    cilium.io/ip-pool-designation: home-lan
    cilium.io/l2-announce-on-lan: "true"
spec:
  type: LoadBalancer
  selector:
    k8s-app: coredns-lan
  ipFamilyPolicy: SingleStack
  ports:
    - name: dns
      port: 53
      protocol: UDP
    - name: dns-tcp
      port: 53
      protocol: TCP
    - name: metrics
      port: 9153
      protocol: TCP
